<template>
  <li class="bookmark">
    <div class="bookmark__loading-active icon-loading" v-if="isBeingLoaded" />
    <div class="bookmark__inner">
      <div class="bookmark__label">
        <button title="Load Bookmark" v-on:click="onClickLoadBookmark(id)">{{ bookmarkName }}</button>
      </div >
      <div class="bookmark__delete">
        <button title="Delete Bookmark" class="icon-trash" v-on:click="onClickDeleteBookmark(id)" />
        <div v-if="isBeingDeleted" class="bookmark__delete__active icon-loading" />
      </div>
    </div>
  </li>
</template>

<script>
export default {
  name: 'Bookmark',
  props: {
    bookmarkName: String,
    id: String,
    onClickLoadBookmark: Function,
    onClickDeleteBookmark: Function,
    isBeingDeleted: Boolean,
    isBeingLoaded: Boolean
  }
}
</script>

<style lang="scss">
  @import '../styles/variables.scss';

  .bookmark {
    border-bottom: 1px solid $light-grey;
    float: left;
    width: 100%;
    position: relative;
    height: 40px;

    &__inner {
      display: inline-block;
      width: 100%;
      height: 100%;
    }

    &__label {
      height: 100%;

      button {
        padding: 10px 40px 10px 10px;
        width: 100%;
        height: 100%;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        background: none;
        outline: 0;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: $light-grey;
        }
      }
    }

    &__delete {
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;

      &__active {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: white;
      }

      button {
        background-color: transparent;
        outline: 0;
        border: none;
        width: 100%;
        cursor: pointer;
        height: 100%;

        &:hover {
          background-color: $light-red;
        }
      }
    }

    &__loading-active {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: #ffffff;

      &.icon-loading {
        background-position: 11px 11px;
      }
    }
  }
</style>
