<template>
  <div class="button">
    <span class="button__loading icon-loading" v-if="loading" />
    <button @click="onClicked" @disabled="loading">
      <span>{{ copy }}</span>
    </button>
  </div>
</template>

<script>
export default {
  name: 'Button',
  props: {
    copy: String,
    onClicked: Function,
    loading: Boolean
  }
}
</script>

<style scoped lang="scss">
  @import '../styles/variables.scss';

  .button {
    position: relative;
    display: inline-block;

    button {
      color: #fff;
      background-color: $purple;
      border-color: #444957;
      font-size: 16px;
      line-height: 19px;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.7;
      border-radius: 4px;

      &:hover {
        background-color: $purple-hover;
      }
    }

    &__loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $purple;
    }
  }
</style>
