<template>
  <label class="input">
    <input :placeholder="placeholderText" v-on:keyup="e => onKeyUp(e, label)" :value="value" />
  </label>
</template>

<script>
export default {
  name: 'Input',
  props: {
    placeholderText: String,
    onKeyUp: Function,
    value: String,
    label: String
  }
}
</script>

<style lang="scss">
  @import '../styles/variables.scss';

  .input {
    input {
      padding: 10px;
      width: 100%;
      border: 1px solid $grey;
      border-radius: 4px;

      &:focus {
        border-color: $purple;
      }
    }
  }
</style>
