<template>
  <div class="bookmarks">
    <div v-if="bookmarksLoading" class="bookmarks--loading icon-loading" />
    <h3 class="section-title">Bookmarks for: {{tabName}}</h3>
    <div class="bookmarks__save">
      <Input
        placeholderText="Bookmark name"
        :onKeyUp="onInputChange"
        :value="saveBookmarkNameInput"
        label="saveBookmarkNameInput"
      />
      <Button
        :loading="createNewBookmarkLoading"
        copy="save bookmark"
        :onClicked="onClickSaveBookmark"
      />
    </div>
    <div v-click-outside="closeBookmarks" class="bookmarks__dropdown-cont">
      <button
        v-bind:class="{'bookmarks__view--open': bookmarksOpen}"
        v-if="bookmarksCount > 0" 
        v-on:click="toggleBookmarks"
        class="bookmarks__view"
      >
        View bookmarks ({{bookmarksCount}})
        <i class="icon-chevron" />
      </button>
      <div v-else>No bookmarks to show</div>
      <div v-if="bookmarksOpen && bookmarksCount > 0" class="bookmarks__list">
        <ul>
          <Bookmark
            v-for="bookmark in bookmarks"
            :key="bookmark.id"
            :onClickLoadBookmark="onClickLoadBookmark"
            :onClickDeleteBookmark="onClickDeleteBookmark"
            :bookmarkName="bookmark.bookmarkName"
            :id="bookmark.id"
            :isBeingDeleted="bookmarkBeingDeletedId === bookmark.id"
            :isBeingLoaded="bookmarkBeingLoadedId === bookmark.id"
          />
        </ul>
    </div>
    </div>
  </div>
</template>

<script>
import Bookmark from '../components/bookmark.vue';
import Button from '../components/button.vue';
import Input from '../components/input.vue';

export default {
  name: 'Bookmarks',
  components: {
    Bookmark,
    Button,
    Input
  },
  data() {
    return {
      saveBookmarkNameInput: ""
    }
  },
  computed: {
    bookmarks() {
      return this.$store.state.bookmarks;
    },
    bookmarksCount() {
      return this.$store.state.bookmarks.length;
    },
    bookmarksLoading() {
      return this.$store.state.bookmarksLoading;
    },
    bookmarksOpen() {
      return this.$store.state.bookmarksOpen;
    },
    bookmarkBeingDeletedId() {
      return this.$store.state.bookmarkBeingDeletedId;
    },
    bookmarkBeingLoadedId() {
      return this.$store.state.bookmarkBeingLoadedId;
    },
    createNewBookmarkLoading() {
      return this.$store.state.createNewBookmarkLoading;
    },
    tabName() {
      return this.$store.state.tabName;
    }
  },
  methods: {
    closeBookmarks() {
      this.$store.dispatch('setBookmarksOpen', false);
    },
    toggleBookmarks() {
      this.$store.dispatch('setBookmarksOpen', !this.$store.state.bookmarksOpen);
    },
    onClickLoadBookmark(bookmarkId) {
      const bookmark = this.$store.state.bookmarks.filter(b => b.id === bookmarkId)[0];
      this.$store.dispatch('loadBookmark', bookmark);
    },
    onClickDeleteBookmark(bookmarkId) {
      this.$store.dispatch('deleteBookmark', bookmarkId);
    },
    onInputChange(e, label) {
      this[label] = e.target.value;
    },
    onClickSaveBookmark() {
      const bookmarkName = this.saveBookmarkNameInput;
      if (bookmarkName.length === 0) return alert('Please enter a name for your bookmark');
      if(bookmarkName.length > 40) return alert('Please limit the name of your bookmark to 40 characters');
      
      this.$store.dispatch('saveBookmark', bookmarkName);
      this.saveBookmarkNameInput = '';
    }
  }

}
</script>

<style lang="scss">
  @import '../styles/variables.scss';

  .bookmarks {
    float: left;
    position: relative;
    width: 33.33%;
    margin-bottom: 20px;
    padding-right: 40px;

    &__dropdown-cont {
      position: relative;
      float: left;
      width: 100%;
    }

    &__view {
      background: none;
      outline: 0;
      border: none;
      width: 100%;
      text-align: left;
      padding: 15px;
      cursor: pointer;
      border: 1px solid $grey;
      border-radius: 4px;
      position: relative;

      i {
        width: 20px;
        height: 15px;
        right: 15px;
        top: 15px;
        position: absolute;
      }

      &--open {
        border-color: $purple;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        i {
          transform: rotate(180deg);
        }
      }
    }

    &__list {
      position: absolute;
      width: 100%;
      background: white;
      -webkit-box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.12);
      -moz-box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.12);
      box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.12);
      border: 1px solid $purple;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-color: $light-grey;
      max-height: 160px;
      overflow-y: auto;
      bottom: 1px;
      transform: translateY(100%);

      &--open {
        display: block;
      }
    }

    &__save {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
      float: left;
      height: 40px;
      display: flex;

      .button {
        height: 100%;

        button {
          height: 100%;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      .input { 
        float: left;
        height: 100%;
        flex-grow: 1;

        input {
          height: 100%;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          outline: 0;
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li:last-child {
        border-bottom: none;
      }
    }

    &--loading {
      background: white;
      position: absolute;
      opacity: 0.6;
      z-index: 1;
      height: 100%;
      width: 100%;
    }
  }
</style>
