<template>
  <div class="downloads-cont">
    <div
      class="downloads-cont__tableau-iframe-dl-button"
      v-bind:class="{'downloads-cont__tableau-iframe-dl-button--loading': exportDataLoading}"
    >
      <button @click="downloadData" @disabled="exportDataLoading" class="icon-download">{{ downloadButtonLabel }}</button>
    </div>
    <div class="downloads-cont__left">
      <h3 class="section-title">Download this view</h3>
      <div class="downloads-cont__download">
        <div class="downloads-cont__download__name">{{tabName}}</div>
        <Button :loading="exportDataLoading" copy="download" :onClicked="downloadData" />
      </div>
    </div>
    <div class="downloads-cont__right">
      <div class="downloads-cont__queue" v-if="downloads.length > 0">
        <h3 class="section-title">Downloads in queue ({{downloadsNotFailedCount}}):</h3>
        <p>Your download has started and has been added to the queue. You may now adjust your filters and start another download.</p>
        <ul>
          <li
            v-for="download in downloads"
            :key="download.id"
            v-bind:title="download.downloadFailed ? 'Export failed' : 'Export loading'"
          >
            <span class="download-item-icon" v-bind:class="download.downloadFailed ? 'icon-red-cross' : 'icon-loading'" />
            {{download.label}}
            <button v-if="download.downloadFailed" button class="download-item-remove"  @click="removeFailedDownloadItem(download.id)">Remove</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Button from '../components/button.vue';

export default {
  name: 'Downloads',
  components: {
    Button
  },
  props: {
    downloadButtonLabel: String
  },
  computed: {
    downloads() {
      return this.$store.state.downloads;
    },
    exportDataLoading() {
      return this.$store.state.exportDataLoading;
    },
    downloadsNotFailedCount() {
      return this.$store.state.downloads.filter(d => !d.downloadFailed).length;
    },
    tabName() {
      return this.$store.state.tabName;
    }
  },
  methods: {
    downloadData() {
      const { socketId, downloadCounter, tabName } = this.$store.state;
      const downloadName = downloadCounter === 0 
        ? tabName
        : `${tabName} (${downloadCounter})`;

      this.$store.dispatch('updateDownloadCounter', downloadCounter + 1);

      if (!socketId) return alert('Loading error - Please wait 30 seconds before trying to export again or refresh the page.');
      if(this.downloadsNotFailedCount > 4) return alert('Please limit your downloads to a maximum of 5 at once');
      if (downloadName.length === 0) return alert('Please enter a name for your download');
      if(downloadName.length > 40) return alert('Please limit the name of your download to 40 characters');

      this.$store.dispatch('downloadData', {
        clientId: socketId,
        downloadName
      });
    },
    onInputChange(e, label) {
      this[label] = e.target.value;
    },
    removeFailedDownloadItem(id) {
        this.$store.dispatch('removeDownloadFromQueue', id);
    }
  }
}
</script>

<style lang="scss">
  @import '../styles/variables.scss';

  .downloads-cont {
    border-left: 1px solid $light-grey;
    float: left;
    padding-left: 40px;
    width: 66.66%;

    &__left,
    &__right {
      float: left;
      width: 50%;
    }

    &__download {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
      float: left;
      height: 40px;
      padding-right: 40px;
      display: flex;
      clear: both;

      &__name {
        float: left;
        height: 100%;
        flex-grow: 1;
        padding-top: 10px;
      }

      .button {
        float: left;

        button {
          height: 100%;
        }
      }
    }

    &__queue {
      padding-left: 40px;
      float: left;
      width: 100%;

      h4 {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      ul {
        padding: 0;
        list-style: none;
        display: inline-block;
        margin: 0;

        li {
          margin-top: 7px;
          float: left;
          clear: both;
          position: relative;
          padding-left: 30px;
          padding-right: 75px;

          .download-item-icon {
            position: absolute;
            left: 0;
            top: -2px;
            width: 20px;
            height: 20px;
          }

          .download-item-remove {
            position: absolute;
            right: 0;
            cursor: pointer;
            top: -2px;
          }
        }
      }
    }

    &__tableau-iframe-dl-button {
      height: 27px;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 108px;

      button {
        color: #656565;
        font-family: "Benton Sans", Arial, Helvetica, sans-serif;
        font-size: 11.5px;
        padding: 0 8px 0 34px;
        opacity: 0.75;
        background-size: 34px;
        z-index: 1;
        position: relative;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 0px -4px;
        outline: 0;
        cursor: pointer;
        border: 0;

        &:hover {
          opacity: 1;
          background-color: #e6e6e6;
        }
      }

      &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #ffffff;
        z-index: 0;
        left: 0;
        top: 0;
      }

      &:after {
        position: absolute;
        height: 14px;
        width: 14px;
        z-index: -1;
        left: 50%;
        margin-left: -4px;
        font: normal normal normal 14px/1 FontAwesome;
        top: 6px;
        content: "";
      }

      &--loading {
        &:after {
          content: "\f110";
          animation: spin 0.5s linear 0s infinite;
          z-index: 2;
        }

        &:before {
          background-color: #f5f5f5;
          z-index: 2;
        }
      }
    }
  }
</style>
