<template>
  <div class="tableau-app">
    <h1 class="page-title">{{ pageTitle }}</h1>
    <div class="page-description">
      <div v-html="pageDescription"></div>
    </div>
    <div class="toolbar">
      <div class="toolbar__flex">
        <Bookmarks />
        <Downloads v-if="downloadButtonLabel" :downloadButtonLabel="downloadButtonLabel" />
      </div>
    </div>
    <div id="vizContainer"></div>
  </div>
</template>

<script>
import io from 'socket.io-client';
import Bookmarks from './containers/bookmarks.vue';
import Downloads from './containers/downloads.vue';
import setupWindowEvents from './lib/window-events';
import './styles/icons.scss';
import './styles/animations.scss';

export default {
  name: 'App',
  components: {
    Bookmarks,
    Downloads
  },
  methods: {
    getBookmarks() {
      if (window.vis) {
        this.$store.dispatch('fetchBookmarks');
      } else {
        setTimeout(() => this.getBookmarks(), 1000);
      }
    },
    setTabName() {
      const tabName = window.vis.getWorkbook().getActiveSheet().getName();
      this.$store.dispatch('setTabName', tabName);
    },
    setupWebsocket() {
      this.socket = io.connect(window.tableauConfig.socketEndpoint, {
        transports: ['polling', 'websocket'],
        upgrade: true,
        reconnection: true,
        reconnectionDelay: 5000,
        reconnectionDelayMax: 5000,
        reconnectionAttempts: Infinity
      });

      this.socket.on('disconnect', () => {
        console.log('socket disconnected');
        this.$store.dispatch('setSocketId', null);
        this.$store.dispatch('setAllDownloadsFailed');
      });

      this.socket.on('state', sockState => {
        switch (sockState.state) {
          case 'ready':
            console.log('socket ready');
            this.$store.dispatch('setSocketId', sockState.id);
            break;
          case 'download':
            this.$store.dispatch('removeDownloadFromQueue', sockState.downloadId);
            window.location = sockState.location;
            break;
          case 'error':
            console.log('there was an error exporting...')
            this.$store.dispatch('setDownloadFailedInQueue', sockState.downloadId);
            break;
        }
      });
    }
  },
  computed: {
    pageTitle: () => window.tableauConfig.pageTitle,
    pageDescription: () => window.tableauConfig.pageDescription,
    downloadButtonLabel: () => window.tableauConfig.exportButtonLabel
  },
  created() {
    window.onload = () => {
      const vizOptions = {
        onFirstInteractive: () => {
          this.getBookmarks();
          this.setTabName();
        }
      };

      const vizUrl = window.tableauConfig.tableauUrl + '?:customViews=no';
      const containerDiv = document.getElementById('vizContainer');
      window.vis = new window.tableau.Viz(containerDiv, vizUrl, vizOptions);

      window.vis.addEventListener(window.tableau.TableauEventName.TAB_SWITCH, () => {
        this.$store.dispatch('setBookmarksOpen', false);
        this.$store.dispatch('updateDownloadCounter', 0);
        this.getBookmarks();
        this.setTabName();
      });

      setupWindowEvents();
    }
    this.setupWebsocket();
  }
}
</script>

<style lang="scss">
  @import './styles/variables.scss';

  * {
    box-sizing: border-box;
  }

  .tableau-app {
    position: relative;
  }

  .page-title {
    float: left;
    width: 100%;
    padding-right: 20px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
  }

  .section-title {
    margin-bottom: 20px;
    float: left;
    width: 100%;
    font-size: 20px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: $purple;
  }

  .toolbar {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }

  .toolbar__flex {
    display: flex;
    flex-wrap: wrap;
    min-height: 250px;
  }

</style>


