<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="https://tableau.informa.com/javascripts/api/tableau-2.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" ><link>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <script>   
      // declare global vars
      window.tableauConfig = {
        socketEndpoint: 'https://forecaster-export-api.qa.tmt.informa-labs.com',
        //socketEndpoint: 'http://localhost:3001',
        //tableauUrl: 'https://analytics.ovumkc.com/views/test_WXIS_All_Core/Coverged-Geography?:customViews=no',
        tableauUrl: 'https://analytics.ovumkc.com/views/WXIS_All_Core_0/Coverged-Geography?:size=1410,950&:embed=y&:showVizHome=n&:bootstrapWhenNotified=y&:apiID=host0#navType=0&navSrc=Parse',
        //tableauUrl: 'https://stage-tableau.informa.com/trusted/czBihj2VR8uqFSWU-KPj6A==:vH6BgngDVGzdslImCpepmyW9/views/WXIS_All_Core_0/Coverged-Geography?:size=1410,900&:embed=y&:showVizHome=n&:bootstrapWhenNotified=y&:apiID=host0#navType=0&navSrc=Parse',
        tableauRestEndpoint: 'https://tableau-export-rest.qa.tmt.informa-labs.com',
        pageTitle: 'QA test - World Information Series - Service Provider - Converged',
        pageDescription: '<p>Filters are applied across all <a href="https://www.google.com">tabs</a>.</p><div><div id="id_4289913" class="visibility-hidden"></div><div class="js-tableau-init"></div><!-- Embedded image block created 01/09/2020 14:19:48 --></div>',
        exportButtonLabel: 'Download'
      };

      window.OVUMANALYTICS = {
        samsUserId: '105033'
      }

    </script>  
    <div class="container-fluid">
      <div id="tableau-app"></div>
    </div>

    <style>
      .container-fluid {
        max-width: 1440px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
      }
    </style>
    <!-- built files will be auto injected -->
  </body>
</html>
